package ${package}.${moduleName}.service;

import com.gzedu.ecloud.common.service.BaseService;
import java.util.Map;

/**
 * ${className}Service
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since ${since}
 */
public interface ${className}Service extends BaseService<${className}>
{

}

